Language: Cpp
BasedOnStyle: Google

IndentWidth: 4
TabWidth: 4
UseTab: Never
ContinuationIndentWidth: 4

IndentCaseLabels: true

SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInAngles: false
SpacesInContainerLiterals: false
SpaceAfterCStyleCast: false
SpaceBeforeAssignmentOperators: true
SpaceAroundPointerQualifiers: Default
SpaceBeforeRangeBasedForLoopColon: true

PointerAlignment: Left
